.form{
    margin: 2em 25%;
    justify-content: center;
    background-color: beige;
    padding: 1em;
    border-radius: 10px;
}
.form h1{
    margin-bottom: .5em;
}
.form input{
    width: 100%;
    border: 1px solid black;
    height: 20px;
    border-radius: 5px;
    padding: 0, .3em;
}
.form button{
    width: 100%;
    margin-top: .5em;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: antiquewhite;
    }
}
.data{
    margin: 2em 25%;
    justify-content: center;
    background-color: beige;
    padding: 1em;
    border-radius: 10px;
}
.added:nth-child(odd){
    margin-top: 10px;
    background-color: bisque;
}
.added:nth-child(even){
    margin-top: 10px;
    background-color: grey;
}
.added span{
    color: red;
    font-weight: bold;
}
.back .form{
    background-color: black;
    color: white;
}
.back .data{
    background-color: black;
    color: white;
}
.tableName tr th{
    width: 25%;
    margin: 2em 25%;
    justify-content: space-evenly;
}
.tableName2 tr th{
    width: 100%;
    justify-content: space-between;
}
.all{
    display: none;
}
.openLibrary{
    justify-content: center;
    padding: 10px;
    margin: 10% 45%;
    &:hover{
        background-color: bisque;
        color: black;
    }
}

.closing{
    display: none;
}
.open .closing{
    display: block;
    margin-top: .5em;
    padding: 10px;
    &:hover{
        background-color: brown;
    }
}
.open .all{
    display: block;
}
.open .openLibrary{
display: none;
}
.close .all{
    display: none;
    transition: display .5s ease-out;
}
.close .openLibrary{
    display: block;
    }
.close .closing{
    display: none;
}
.book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:nth-child(even) {
      background-color: gray;
    }
  
    tr:hover {
      background-color: #f2f2f2;
    }
  
    td {
      max-width: 200px; /* Adjust the max-width of each cell as needed */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    button {
      padding: 5px 10px;
      cursor: pointer;
    }
  }
  
  .pagination {
    margin-top: 10px;
    text-align: center;
  
    button {
      margin: 0 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }